html, body, header, h1, h2, h3, h4, h5, h6, label, div, span, table { margin: 0; padding: 0; border: none; outline: none; }
body { font-family: Arial, sans-serif; }
table { border-collapse: collapse; }
header { background: #00293e; color: #fff; font-weight: bold; height: 30px; line-height: 30px; padding: 0 14px; }
#scrollpane { overflow: auto; position: relative; }

.ctype { position: absolute; display: block; z-index: 5; border: 2px solid #444; background: #e0e0e0; }
.ctype h2 { display: block; background: #ffb164; padding: 3px 6px; font-size: 12px; font-weight: bold; border-bottom: 1px solid #444; }
.ctype table { width: 100%; }

.group { padding: 3px; }
.group-0 { background: #ddffff; }
.group-1 { background: #ffffdd; }
.group-2 { background: #ffddee; }
.group-3 { background: #ffcc66; }
.group-4 { background: #ddddff; }
.group-5 { background: #ddffdd; }
.group h3 { text-decoration: underline; font-weight: bold; font-size: 12px; }

.group td { font-size: 11px; padding: 2px 4px; }
.group td a { color: #000; text-decoration: none; border-bottom: 1px dotted #000; }
.group .shared { padding: 0 8px; }
.group .multiple { font-size: 15px; padding: 0 6px; }
